<nav class="navbar">
  <a href="/"><h1>My orders</h1></a> <!-- Updated title to "My orders" -->
  <div class="links">
    <a href="/addorder">New order</a> <!-- Updated link to add a new order -->
    <a class="new-item-link" href="/user/logout">Logout</a> <!-- Assuming this link is for user logout -->
  </div>
</nav>  